<h1>Please sign in to play Commuter Trivialy!</h1>

<div class="session_start">
<%= form_tag session_path, :method => :post do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>
</div>


<img src="http://www.michellesarabia.com/wp-content/uploads/2013/07/traintracks.jpg"
class="medium" />