<h1>Please sign in to play Commuter Trivialy!</h1>

<div class="session_start">
<%= form_tag session_path, :method => :post do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Login" %>
<% end %>
</div>

<table class="center">
  <tr>
    <th scope="col" colspan="3">High Scores!</th>
  </tr>
   <tr>
      <th scope="col">User</th>
      <th scope="col">Game #</th>
      <th scope="col">Score</th>
    </tr>
  <% @game.each do |game| %>
    <tr>
      <td><%= game.user_id %></td>
      <td><%= game.id %></td>
      <td><%= game.score %></td>
    </tr>
  <% end %>
</table>


