<% unless @user.errors.none? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<div class="session_start">
<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>
</div>

<img src="http://www.mikeolbinski.com/theblog/wp-content/uploads/2010/09/2010-09-28-SunsetTracks_MG_5903_4_5_6_7_8.jpg"
class="medium" />