<h1>Welcome:  <%= @user.email %></h1>


<div class="button">
  <%= button_to "Edit User", edit_user_path(@user), :method => :get %><br>
</div class="button">

<% if logged_in? %>
  <div class="button">
    <%= button_to "Play Trivia", user_games_path(@user), :method => :post %>
  </div>
<% end %>

<table class="center">
  <tr>
    <th scope="col" colspan="2">Your Scores!</th>
  </tr>
   <tr>
      <th scope="col">Game #</th>
      <th scope="col">Score</th>
    </tr>
  <% @user.games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.score %></td>
    </tr>
  <% end %>
</table>
