<h1> Your Playing Trivialy!! </h1>

<h3>Category: <%= @question.category.capitalize %></h3>
<p>Question: <%= @question.question %><p>
<p>Score: <%= @game.score %></p>

<%= form_for user_game_path do |f| %>
<%= f.label :your_answer_is  %>
<%= f.text_field :your_answer_is.downcase %>
<%= f.submit "Check Answer" %>
<% end %>


<p>Correct Answer: <%= @question.answer %></p>

<!-- link_to self , user_games_path(@self), :method => :post
 end -->