<!DOCTYPE html>
<html>
<head>
  <title>Trivialy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav>
    <% if logged_in? %>
      <ul>
        <li><%= link_to 'Logout', session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </nav>
<%= yield %>

</body>
</html>
